@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
boyd {
  font-family: 'Poppins' !important;
}

.btn-margin-top {
  margin: 1%;
}

.card-container-accountD {
  width: 100%;
  height: 270px;
  margin: 30px;

  // margin-left: 15px;
  // margin-right: 20px;
  // margin-bottom: 10px;
}

.custom-title1 {
  margin-top: 0;
  height: 6vh;
  text-align: center;
  font-size: 18px;
  font-family: Poppins;
  // margin-top: -2%;

  padding: 5%;
  box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px, rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
}
.card-description {
  color: white;
}
.card-content {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

body {
  font-family: 'Open Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
    'Droid Sans', 'Helvetica Neue';
}
.formfield {
  border-bottom: 1px solid gray;
  padding: 0px;
  height: 30px;
}

.formfield {
  position: relative;
  margin-bottom: 20px;
}

.focused-label {
  transition: 0.2s ease-out;
  position: absolute;
  top: -2%;
  transform: translateY(-50%);
  left: 10px;
  font-size: 16px;
  color: #555;
  pointer-events: none;
}

.focused-label {
  top: 0px;
  font-size: 12px;
  // color: #007bff;
}
.focused {
  position: absolute;
  top: 0px;
  font-size: 12px;
  // color: #007bff;
  z-index: 1;
}
.focused2 {
  position: absolute;
  top: 5px;
  font-size: 12px;
  // color: #007bff;
  z-index: 1;
}

.custom-title1 {
  height: 55px;
}
.card-info {
  margin-bottom: 10px;
  box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px, rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
}

@media only screen and (max-width: 870px) {
  .form-container {
    margin-top: 0%;
    height: 70px;
  }
  .custom-title1 {
    height: 55px;
  }
  .custom-title1 {
    height: 55px;
  }
  .card-info {
    margin-bottom: 10px;
  }
}
@media only screen and (min-width: 700px) and (max-width: 991px) {
  .form-container {
    margin-top: 0%;
    height: 50px;
    padding: 10px;
  }
  .btn-margin-top {
    margin-top: 3%;
  }
  .custom-title1 {
    height: 6.5vh;
  }
  .custom-title1 {
    height: 55px;
  }
}
@media only screen and (min-width: 800px) and (max-width: 991px) {
  .form-container {
    // margin-top: 0%;
    height: 40px;
    // padding: 10px;
  }
  .btn-margin-top {
    margin-top: 2%;
  }
  .custom-title1 {
    height: 6.5vh;
  }
  .custom-title1 {
    height: 55px;
  }
}

@media only screen and (min-width: 900px) and (max-width: 1000px) {
  .form-container {
    // margin-top: 0%;
    height: 40px;
    // padding: 10px;
  }
  .btn-margin-top {
    margin-top: 2%;
  }
  .custom-title1 {
    height: 55px;
  }
}
@media only screen and (min-width: 1100px) and (max-width: 1500px) {
  .btn-margin-top {
    margin-top: 1%;
  }
  .custom-title1 {
    height: 55px;
  }
}
@media only screen and (min-width: 1500px) and (max-width: 1800px) {
  .btn-margin-top {
    margin-top: 1%;
  }
  .custom-title1 {
    height: 55px;
  }
}
@media (width: 1024px) and (height: 600px) {
  .card-main-container {
    margin-top: 0%;
    width: 100%;
  }
  .card-container-accountD {
    height: 79%;
  }
}
@media (width: 1280px) and (height: 800px) {
  .card-main-container {
    margin-top: 0%;
    width: 100%;
  }
}

.report_heading {
  font-family: Poppins !important;
  font-size: 19px;
  padding: 10px;
  margin-left: 2.5%;
}
