.ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
  color: black !important;
  font-weight: 500;
}
.ant-tabs-ink-bar {
  position: absolute;
  background: #00a148;
  pointer-events: none;
  border-bottom: 2px solid #00a148 !important;
}
.ant-tabs-nav .ant-tabs-tab {
  text-align: center;
  &:hover {
    color: #00a148;
  }
}
.h1 {
  text-align: center;
  text-transform: uppercase;
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  color: black;
}
.card1 {
  border: 1px solid #00a148;
  margin-top: 7px;
  margin-right: 18px;
}
.card1:hover {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px,
    rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.p {
  text-align: right;
}
.card2 {
  border: 1px solid #caf3dc;
  margin-top: 7px;
  margin-right: 10px;
}
.card2:hover {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px,
    rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.card3 {
  border: 1px solid #00a148;
  margin-top: 6px;
  margin-right: 10px;
}
.card3:hover {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px,
    rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.n {
  text-align: right;
}

.success:hover {
  border: 1px solid #00a148;
}
.success:focus {
  border: 1px solid #00a148;
}
.ant-pagination .ant-pagination-item-active {
  border-color: #00a148;
}
.ant-pagination .ant-pagination-item a {
  color: #00a148;
}

.ant-select-selector:hover {
  border-color: #00a148 !important; /* Replace this with your desired hover color */
}
.ant-select-selector:active {
  border: 1px solid #00a148 !important; /* Replace this with your desired hover color */
}
.ant-select-selector {
  border-color: #b6b3b3 !important;
}
body {
  background-color: rgb(245, 242, 242);
  /* color:rgb(250, 250, 250); */
}
.App {
  text-align: center;
}
.h1 {
  text-align: center;
  text-transform: uppercase;
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  color: black;
}
.cardS {
  border: 1px solid #00a148;
  margin-top: 7px;
  margin-right: 18px !important;
  position: relative;
  left: 15px;
  height: 100% !important;

  box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em,
    rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset !important;
}
/* TabS */
.card-container {
  width: 100%;
  margin-top: 2%;
}
.tabcard {
  width: 100%;
  margin-left: 300px;
  margin-top: 40px;
  background: rgb(250, 250, 250);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}
.edit-button-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  height: 100%;
  margin-top: 20px; /* This will push the container to the bottom of the card */
}
.cardS:hover {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px,
    rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px !important;
}
.p {
  text-align: right;
}

.n {
  text-align: right;
}

.success:hover {
  border: 1px solid #00a148;
}
.success:focus {
  border: 1px solid #00a148;
}
.ant-pagination .ant-pagination-item-active {
  border-color: #00a148;
}
.ant-pagination .ant-pagination-item a {
  color: #00a148;
}

.ant-select-selector:hover {
  border-color: #00a148 !important; /* Replace this with your desired hover color */
}
.ant-select-selector:active {
  border: 1px solid #00a148 !important; /* Replace this with your desired hover color */
}
.ant-select-selector {
  border-color: #b6b3b3 !important;
}

.ant-checkbox-inner,
.ant-checkbox-input {
  height: 1.5rem !important;
  width: 1.5rem !important;
  /* padding-right:1.5rem !important; */
}
/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */
body {
  background-color: rgb(245, 242, 242);
  /* color:rgb(250, 250, 250); */
}
.App {
  text-align: center;
}
.h1 {
  text-align: center;
  text-transform: uppercase;
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  color: black;
}
.card1 {
  border: 1px solid #00a148;
  margin-top: 7px;
  margin-right: 18px;
}
.card1:hover {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px,
    rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.p {
  text-align: right;
}
.card2 {
  border: 1px solid #caf3dc;
  margin-top: 7px;
  margin-right: 10px;
}
.card2:hover {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px,
    rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.card3 {
  border: 1px solid #00a148;
  margin-top: 6px;
  margin-right: 10px;
}
.card3:hover {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px,
    rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.n {
  text-align: right;
}

.success:hover {
  border: 1px solid #00a148;
}
.success:focus {
  border: 1px solid #00a148;
}
.ant-pagination .ant-pagination-item-active {
  border-color: #00a148;
}
.ant-pagination .ant-pagination-item a {
  color: #00a148;
}

.ant-select-selector:hover {
  border-color: #00a148 !important; /* Replace this with your desired hover color */
}
.ant-select-selector:active {
  border: 1px solid #00a148 !important; /* Replace this with your desired hover color */
}
.ant-select-selector {
  border-color: #b6b3b3 !important;
}

.custom-collapse {
  background-color: white !important;
  margin-bottom: 70px !important;
  width: 100% !important;
  height: 170%;
  /* Set the transparent background with RGBA */
}
.custom-collapse .ant-collapse-item {
  border: none;
  margin-bottom: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border: 1px solid #00a148;
}
.custom-collapse .ant-collapse-item:last-child {
  margin-bottom: 0; /* Remove margin from the last panel */
}
.custom-collapse .ant-collapse-header {
  background-color: #e6ffe6; /* Set the transparent background for the header */
  border-radius: 5px 5px 0 0; /* Apply rounded corners to the top of the header */
  padding: 10px 16px;
}
.custom-collapse .ant-collapse-content {
  background-color: white; /* Set the transparent background for the content */
  padding: 16px;
}
.responsive-card {
  margin-left: 3%;
}
