.formfield {
  border-bottom: 1px solid gray;
  padding: 0px;
  height: 38px;
}
.forms-heading-container {
  display: flex;
  align-items: center;
  align-content: center;
  margin: 16px;
}
.report_heading {
  font-family: Poppins !important;
  font-size: 19px;
  padding: 10px;
}
.tableHead {
  color: #fff;
  padding: 8px;
  text-align: center;
}
@media only screen and (max-width: 870px) {
  .form-container {
    margin-top: 0%;
    height: 60px;
  }
  .btn-margin-top {
    margin-top: 3%;
  }
}
