.form_field {
  border-bottom: 1px solid gray;
  padding: 0px;
  height: 30px;
}
.formfield_for_screen {
  // border-bottom: 1px solid gray;
  padding: 0px;
  height: 30px;
}
.report_heading {
  font-family: Poppins !important;
  font-size: 19px;
  padding: 10px;
  margin-left: -10%;
}
.buttons_row {
  margin-left: 10px;
  margin-right: 10px;
  margin-top: -0.8%;
}
.header_card {
  box-shadow: 2px 4px 12px 1px gray;
  padding-top: -15%;
  margin-bottom: 0.5%;
  margin-top: -1%;
}
.reset_btn {
  background-color: #ffaf0c;
}
@media screen and (min-width: 481px) and (max-width: 575px) {
  .form_field {
    height: 62px;
  }
}
