.monthly_heading {
  margin-left: 1%;
  padding: 10px;
}
@media only screen and (min-width: 500px) and (max-width: 600px) {
  .form-container {
    margin-top: 0%;
    height: 70px;
    padding: 10px;
  }
}
