@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
boyd {
  font-family: 'Poppins' !important;
}
.formfield {
    border-bottom: 1px solid gray;
    padding: 0px;
    height: 30px;
  }
.forms-heading-container {
    display: flex;
    align-items: center;
    align-content: center;
    margin: 16px;
  }
  .report_heading {
    font-family: Poppins !important;
    font-size: 19px;
    padding: 10px;
    margin-left: 3%;
  }