@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
boyd {
  font-family: 'Poppins' !important;
}

.formsfield {
  border-bottom: 1px solid gray;
  padding: 0px;
  height: 38px;
}
.summary-table-container {
  margin-top: 10px;
}
.summary-table-card {
  padding: 20px;
  border-radius: 12px;
  box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px, rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
  margin-bottom: 12px;
}
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Adjust the transparency as needed */
  z-index: 999; /* Ensure the overlay appears above other content */
}
.cash-balances-card {
  width: 80vw;
  margin-left: 40px;
  margin-top: 15px;
}
@media (max-width: 768px) {
  .form-container {
    margin-top: 0%;
    height: 70px;
  }

  .btn-margin-top {
    margin-top: 8%;
  }
}
.forms-heading-container {
  display: flex;
  align-items: center;
  align-content: center;
  margin: 16px;
  // display: 'flex', alignItems: 'center', alignContent: 'center', margin: '16px'
}
.report_heading {
  font-family: Poppins !important;
  font-size: 19px;
  padding: 10px;
}

.focused-label {
  transition: 0.2s ease-out;
  position: absolute;
  top: -2%;
  transform: translateY(-50%);
  left: 10px;
  font-size: 16px;
  color: #555;
  pointer-events: none;
}

.focused-label {
  top: 0px;
  font-size: 12px;
  // color: #007bff;
}
.focused {
  position: absolute;
  top: 0px;
  font-size: 12px;
  // color: #007bff;
  z-index: 1;
}
.focused2 {
  position: absolute;
  top: 5px;
  font-size: 12px;
  // color: #007bff;
  z-index: 1;
}
