.btn {
  background-color: #25a7df;
  border-radius: 4px;
  color: white;
  box-shadow: white 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px,
    #d6d6e7 0 -3px 0 inset;

  transition: box-shadow 0.15s, transform 0.15s;

  will-change: box-shadow, transform;
}

.btn:active {
  box-shadow: #d6d6e7 0 3px 7px inset;
  transform: translateY(2px);
}
