.formfield {
  border-bottom: 1px solid gray;
  padding: 0px;
  height: 38px;
}
.formfield1 {
  border-bottom: 1px solid gray;
  padding: 0px;
  height: 38px;
}
.ant-checkbox-inner,
.ant-checkbox-input {
  height: 1.5rem !important;
  width: 1.5rem !important;
}
// Responsiveness
.main_card {
  position: relative;
}
.detail_list_optional {
  position: absolute;
  top: 0;
  left: 10;
  z-index: 1;
}

@media screen and (min-width: 1200px) and (max-width: 1600px) {
  .cr,
  .dr {
    margin-left: 6.5rem !important;
  }
}

@media screen and (min-width: 992px) and (max-width: 1200px) {
  .balance,
  .date,
  .against,
  .remarks,
  .wht {
    margin-top: 1rem !important;
  }
  .cr {
    margin-left: 6.5rem !important;
  }
  .btns {
    margin-top: 1.5rem !important;
  }
}

@media screen and (min-width: 768px) and (max-width: 992px) {
  .balance,
  .date,
  .against,
  .remarks {
    margin-top: 1rem !important;
  }

  .cr {
    margin-left: 8rem !important;
  }
  .btns {
    margin-top: 1.5rem !important;
  }
}

@media screen and (min-width: 576px) and (max-width: 768px) {
  .balance {
    margin-top: 1rem !important;
  }
  .formfield {
    height: 45px !important;
  }

  .btns {
    margin-top: 1.5rem !important;
  }
  .debit {
    margin-top: 0rem !important;
    height: 60px !important;
  }
}

@media screen and (min-width: 481px) and (max-width: 575px) {
  .formfield {
    height: 70px;
  }
  .balance {
    margin-top: 1rem !important;
  }
  .add,
  .icon {
    margin-left: 4.2rem !important;
  }
  .btns {
    margin-top: 1.5rem !important;
  }
  .voucherDate {
    margin-top: -1.5rem;
  }
  .voucherNo {
    margin-top: 0.5rem;
  }
  .debit {
    margin-top: 2px !important;
    height: 90px !important;
  }
  .wht {
    margin-top: 2rem !important;
  }
}
