@media only screen and (max-width: 1857px) {
  .cards1{
      width: 120% !important;
   position: relative !important;
   right: 1% !important;
   border: 3px solid rgb(0, 247, 255) !important;
  }
}

@media only screen and (max-width: 1750px) {
  .cards1{
      width: 106% !important;
   position: relative !important;
   right: -2.1% !important;
   border: 3px solid red !important;
  }
}

@media only screen and (max-width: 1732px) {
  .cards1{
      width: 107% !important;
      position: relative !important;
      right: -5% !important;
      border: 3px solid blue !important;
  }
}
/* @media only screen and (max-width: 1737px) {
  .cards1{
      width: 120% !important;
   position: relative !important;
   right: 11% !important;
   border: 3px solid green !important;
  }
} */
/* @media only screen and (max-width: 1736px) {
  .cards1{
      width: 120% !important;
   position: relative !important;
   right: 12% !important;
   border: 3px solid rgb(255, 0, 212) !important;
  }
}   */
@media only screen and (max-width: 1694px) {
  .cards1{
      width: 120% !important;
   position: relative !important;
   right: 6% !important;
   border: 3px solid orange !important;
  }
}  
@media only screen and (max-width: 1667px) {
  .cards1{
      width: 120% !important;
   position: relative !important;
   right: 7% !important;
   border: 3px solid paleturquoise !important;
  }
}
@media only screen and (max-width: 1651px) {
  .cards1{
      width: 120% !important;
   position: relative !important;
   right: 7% !important;
   border: 3px solid rgb(16, 233, 233) !important;
  }
}
@media only screen and (max-width: 1625px) {
  .cards1{
      width: 120% !important;
   position: relative !important;
   right: 7% !important;
   border: 3px solid rgb(39, 117, 117) !important;
  }
}
/* @media only screen and (max-width: 1594px) {
  .cards1{
      width: 120% !important;
   position: relative !important;
   right: -9% !important;
   border: 3px solid grey !important;
  }
} */
@media only screen and (max-width: 1596px) {
  .cards1{
      width: 120% !important;
   position: relative !important;
   right: 9% !important;
   border: 3px solid rgba(0, 153, 255, 0.836) !important;
  }
}
@media only screen and (max-width: 1593px) {
  .cards1{
  width: 120% !important;
   position: relative !important;
   right: 8% !important;
   border: 3px solid red !important;
  }
}
/* @media only screen and (max-width: 1592px) {
  .cards1{
   position: relative !important;
   right: 24% !important;
   border: 3px solid rgb(68, 68, 177) !important;
   width:120% !important;
  }
} */
@media only screen and (max-width: 1592px) {
  .cards1{
   position: relative !important;
   right: 9% !important;
   border: 3px solid rgb(7, 187, 7) !important;
   width:120% !important;
  }
}
@media only screen and (max-width: 1565px) {
  .cards1{
   position: relative !important;
   right: 9% !important;
   border: 3px solid rgb(24, 184, 24) !important;
   width:120% !important;
  }
}
@media only screen and (max-width: 1563px) {
  .cards1{
   position: relative !important;
   right: 9% !important;
   border: 3px solid rgb(20, 131, 20) !important;
   width:120% !important;
  }
}
@media only screen and (max-width: 1530px) {
  .cards1{
   position: relative !important;
   right: 9% !important;
   border: 3px solid rgb(16, 128, 16) !important;
   width:120% !important;
  }
}
@media only screen and (max-width: 1009px) {
  .cards1{
   position: relative !important;
   right: 33% !important;
   border: 3px solid rgb(18, 16, 128) !important;
   width:120% !important;
  }
}
@media only screen and (max-width:209px) {
  .cards1{
   position: relative !important;
   right: 1% !important;
   border: 3px solid rgb(111, 128, 16) !important;
   width:120% !important;
  }
}


.custom-collapse {
  background-color:  white !important;
  margin-bottom: 70px !important;
  width: 100% !important;
   height:170%;
  /* Set the transparent background with RGBA */
}
.custom-collapse .ant-collapse-item {
  border: none;
  margin-bottom: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border:1px solid  #00a148;
}
.custom-collapse .ant-collapse-item:last-child {
  margin-bottom: 0; /* Remove margin from the last panel */
}
.custom-collapse .ant-collapse-header {
  background-color:  #e6ffe6; /* Set the transparent background for the header */
  border-radius: 5px 5px 0 0; /* Apply rounded corners to the top of the header */
  padding: 10px 16px;
  
}
.custom-collapse .ant-collapse-content {
  background-color:  white; /* Set the transparent background for the content */
  padding: 16px;
}