.form_field {
  border-bottom: 1px solid gray;
  padding: 0px;
  height: 40px;
}
@media (max-width: 768px) {
  .form_field {
    display: grid;
    justify-content: start;

    margin: 0;
  }

  .date_icon_width {
    width: 85%;
  }
  .datetype_icon_width {
    width: 95%;
  }
}
