.formfield {
  border-bottom: 1px solid gray;
  padding: 0px;
  height: 34px;
}
.ant-checkbox-inner,
.ant-checkbox-input {
  height: 1.5rem !important;
  width: 1.5rem !important;
}
:root {
  --color-primary: #25a7df;
}
.toggleGridView {
  background-color: var(--color-primary);
  color: #fff;
  font-weight: bold;
  border: 1px solid var(--color-primary);
}
.toggleCardView {
  background-color: #fff;
  color: var(--color-primary);
  font-weight: bold;
  border: 1px solid var(--color-primary);
}
.formfield1 {
  border-bottom: 1px solid gray;
  padding: 0px;
  height: 34px;
}
// Responsiveness
.main_card {
  position: relative;
}
.remarks {
  border-bottom: 1px solid gray;
  width: 108% !important;
  height: 34px;
}
.detail_list_optional {
  position: absolute;
  top: 0;
  left: 10;
  z-index: 1;
}
// Responsiveness

@media screen and (min-width: 1200px) and (max-width: 1600px) {
  .dr,
  .cr {
    margin-left: 55% !important;
  }
  .against,
  .remarks {
    margin-top: 1%;
  }
}
@media screen and (min-width: 992px) and (max-width: 1200px) {
  .balance {
    margin-top: 0.6% !important;
  }
  .against {
    margin-top: 3%;
  }
  .date,
  .cheqno,
  .payment,
  .remarks,
  .wht {
    margin-top: 2% !important;
  }
  .btns {
    margin-top: 1.5rem !important;
  }
}

@media screen and (min-width: 768px) and (max-width: 992px) {
  .balance {
    margin-top: 0.5% !important;
  }
  .against {
    margin-top: 3%;
  }
  .date,
  .cheqno,
  .payment,
  .remarks {
    margin-top: 2% !important;
  }
  .btns {
    margin-top: 1.5rem !important;
  }
}

@media screen and (min-width: 576px) and (max-width: 768px) {
  .date {
    margin-bottom: 10% !important;
  }
  .type {
    margin-bottom: 13% !important;
  }
  .debit {
    margin-top: -15% !important;
    height: 60px !important;
  }
  .formfield {
    height: 45px !important;
  }
  .formfield2 {
    height: 55px !important;
  }
  .balance {
    margin-top: 0rem !important;
    height: 55px !important;
  }
  .credit {
    margin-top: -5rem !important;
    height: 55px !important;
  }

  .cheqno {
    margin-top: -8% !important;
  }
  .against {
    margin-top: 3%;
  }
  .btns {
    margin-top: 1.5rem !important;
  }
  .voucherDate {
    margin-top: -0.4rem !important;
  }
}

@media screen and (min-width: 481px) and (max-width: 575px) {
  .formfield {
    height: 60px;
  }
  .balance,
  .credit {
    margin-top: 0rem !important;
    height: 85px !important;
  }

  .debit {
    margin-top: -1% !important;

    height: 85px !important;
  }
  .btns {
    margin-top: 1.5rem !important;
  }
  .voucherDate {
    margin-top: -1.1rem !important;
  }
  .voucherNo {
    margin-top: 0.5rem;
  }
  .icon {
    margin-left: -1%;
  }
  .cr {
    position: absolute;
    right: 15px;
    top: 0px;
    // margin-right: 0% !important;
    // display: inline-block !important;
    // width: 40%;
    // border: 1px solid red;
  }
}
