.formfield {
  border-bottom: 1px solid gray;
  padding: 0px;
  height: 38px;
}
.ant-checkbox-inner,
.ant-checkbox-input {
  height: 1.5rem !important;
  width: 1.5rem !important;
}
.formfield1 {
  border-bottom: 1px solid gray;
  padding: 0px;
  height: 38px;
}
// Responsiveness

@media screen and (min-width: 992px) and (max-width: 1200px) {
  .date {
    margin-top: 1% !important;
  }
  .job {
    margin-top: 0.1% !important;
  }
  .add {
    margin-top: 3% !important;
  }
  .btns {
    margin-top: 1.5rem !important;
    margin-bottom: 2%;
  }
  .remark {
    margin-top: 0.5% !important;
  }
}

@media screen and (min-width: 768px) and (max-width: 992px) {
  .remark {
    margin-top: 1% !important;
  }

  .add {
    margin-top: 2.5% !important;
  }
  .cr {
    margin-left: 8rem !important;
  }
  .btns {
    margin-top: 1.5rem !important;
  }
}

@media screen and (min-width: 576px) and (max-width: 768px) {
  .paytitle {
    margin-top: 0.5% !important;
  }
  .remark,
  .jobs {
    margin-top: 0.5rem !important;
  }
  .add {
    margin-top: 20%;
  }
  .btns {
    margin-top: 1.5rem !important;
  }
  .voucherDate {
    margin-top: -0.4rem !important;
  }
  .formfield {
    height: 45px !important;
  }
  .cr {
    margin-top: 1% !important;
    margin-left: 65% !important;
  }
  .credit,
  .debit {
    margin-top: 0rem !important;
    height: 60px !important;
  }
}

@media screen and (min-width: 481px) and (max-width: 575px) {
  .checkbox {
    margin-top: 9% !important;
  }

  .add {
    margin-top: 5% !important;
  }
  .icon {
    margin-left: -1%;
  }
  .voucherDate {
    margin-top: -1.5rem !important;
  }
  .voucherNo {
    margin-top: 0.5rem;
  }
  .btns {
    margin-top: 1.5rem !important;
    margin-left: -3.9% !important;
  }
  .cr {
    margin-top: 1% !important;
    margin-left: 65% !important;
  }
  .credit {
    margin-top: 0rem !important;
    height: 87px !important;
  }
  .debit {
    margin-top: -1.5rem !important;
    height: 110px !important;
  }
}
