.formfield {
  border-bottom: 1px solid gray;
  padding: 0px;
  height: 38px;
  margin-top: 4px;
}
.Col-margin-top {
  margin-top: 10px;
}

.report_heading {
  font-family: Poppins !important;
  font-size: 19px;
  padding: 10px;
  margin-left: 0%;
}
