.formfield {
  border-bottom: 1px solid gray;
  padding: 0px;
  height: 45px !important;
}
.ant-checkbox-inner,
.ant-checkbox-input {
  height: 1.5rem !important;
  width: 1.5rem !important;
  transition: 0.1s all;
}

// Responsiveness

@media screen and (min-width: 992px) and (max-width: 1200px) {
  .remark,
  .remarks {
    margin-top: 2.2% !important;
  }
  .paytitle {
    margin-top: 0.5% !important;
  }
  .job {
    margin-top: 3% !important;
  }
}

@media screen and (min-width: 768px) and (max-width: 992px) {
  .remark,
  .remarks {
    margin-top: 2.3% !important;
  }
  .paytitle {
    margin-top: 0% !important;
  }

  .checkbox {
    margin-top: 10% !important;
  }
}

@media screen and (min-width: 576px) and (max-width: 768px) {
  .remarks {
    margin-top: 1rem !important;
  }
}

@media screen and (min-width: 481px) and (max-width: 575px) {
  .checkbox {
    margin-top: 9% !important;
  }
  .formfield {
    height: 65px !important;
  }
  .formfield1 {
    height: 100px !important;
  }
  .buttons {
    margin-top: 1.5rem;
  }
}
