@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
boyd {
  font-family: 'Poppins' !important;
}
.form_field {
  border-bottom: 1px solid gray;
  padding: 0px;
  height: 30px;
}
.report_heading {
  font-family: Poppins !important;
  font-size: 19px;
  padding: 10px;
  margin-left: 2.5%;
}
