.container {
  font-family: tahoma;
  padding: 40px 0;
  text-align: center;
}

.heading {
  font-size: 2rem;
  text-decoration: underline;
}
.main-timeline {
  padding: 20px 0;
  position: relative;
}

.main-timeline::after {
  content: '';
  height: 30px;
  width: 30px;
  background-color: #e7e7e7;
  border-radius: 50%;
  border: 7px solid black;
  transform: translatex(-50%);
  position: absolute;
  left: 50%;
  top: -15px;
  z-index: 2;
}

.main-timeline .timeline {
  margin-top: -30px;
  font-size: 1.2rem;
  font-weight: bold;
  position: relative;
  z-index: 3;
}

.row {
  margin-left: 8% !important;
  margin-top: 5%;
}
.img {
  width: 8rem;
  height: 5rem;
  position: relative;
  left: 95%;
  top: -50%;
}

@keyframes shake {
  0%,
  100% {
    transform: translateX(0) rotate(0deg);
  }
  25% {
    transform: translateX(-5px) rotate(-5deg);
  }
  50% {
    transform: translateX(5px) rotate(5deg);
  }
  75% {
    transform: translateX(-5px) rotate(-5deg);
  }
}

.shake {
  animation: shake 2s ease-in-out infinite;
}

.title {
  color: black;
  font-size: 1.2rem;
}

.timeline-icon {
  color: black;
  font-size: 65px;
  margin-bottom: 4%;
}
