.form_fields {
  border-bottom: 1px solid gray;
  padding: 0px;
  height: 40px;
}
.alert_style {
  color: #fff;
  font-size: 17px;
  height: 3vh;
}
.card_shadows {
  box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px, rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
}
.total_row {
  width: 40vw;
  margin-left: -140px;
}
.formfield {
  border-bottom: 1px solid gray;
  padding: 0px;
  height: 40px;
}
