//Account Reports css
.formfield {
  border-bottom: 1px solid gray;
  padding: 0px;
  height: 38px;
}
.ant-checkbox-inner,
.ant-checkbox-input {
  height: 1.5rem !important;
  width: 1.5rem !important;
}

.report_heading {
  font-family: Poppins !important;
  font-size: 19px;
  padding: 10px;
  margin-left: 2.5%;
}

.custom-title-general {
  text-align: center;
  font-size: 18px;
  font-family: Poppins;
  padding-top: 2px !important;
  padding-bottom: 5px !important;
  box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px, rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
}
.marginleft {
  margin-left: 14px;
}
.marginleft2 {
  margin-left: 40px;
}
@media only screen and (max-width: 870px) {
  .custom-title1 {
    margin-top: 0;
    height: 1vh;
    text-align: center;
    font-size: 18px;
    font-family: Poppins;
    margin-top: -4%;
    display: flex;
    justify-content: center;
    padding: 3%;
    box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px, rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
  }
}

@media (width: 1024px) and (height: 600px) {
  .custom-title1 {
    margin-top: 0;
    height: 1vh;
    text-align: center;
    font-size: 18px;
    font-family: Poppins;
    margin-top: -1%;
    display: flex;
    justify-content: center;
    padding: 3%;
    box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px, rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
  }
}
@media (width: 1280px) and (height: 800px) {
  .custom-title1 {
    margin-top: 0;
    height: 1vh;
    text-align: center;
    font-size: 18px;
    font-family: Poppins;
    margin-top: -1%;
    display: flex;
    justify-content: center;
    padding: 3%;
    box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px, rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
  }
}

@media only screen and (min-width: 700px) and (max-width: 991px) {
  .custom-title1 {
    padding: 3%;
  }
}
@media only screen and (min-width: 800px) and (max-width: 991px) {
  .custom-title1 {
    padding: 3%;
  }
}
@media only screen and (min-width: 900px) and (max-width: 1000px) {
  .custom-title1 {
    padding: 3%;
  }
}
@media only screen and (min-width: 1100px) and (max-width: 1500px) {
  .custom-title1 {
    padding: 3%;
  }
}
@media only screen and (min-width: 1500px) and (max-width: 1800px) {
  .custom-title1 {
    padding: 3%;
  }
}
@media (width: 1024px) and (height: 600px) {
  .custom-title1 {
    padding: 3%;
  }
}
