@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
boyd {
  font-family: 'Poppins' !important;
}
.report_heading {
  font-family: Poppins !important;
  font-size: 19px;
  padding: 10px;
}
.formfield {
  border-bottom: 1px solid gray;
  padding: 0px;
  height: 38px;
}
@media only screen and (min-width: 500px) and (max-width: 991px) {
  .form-container {
    margin-top: 0%;
    height: 70px;
    padding: 10px;
  }
  .btn-margin-top {
    margin-top: 3%;
  }
}
@media only screen and (min-width: 800px) and (max-width: 991px) {
  .form-container {
    height: 40px;
  }
  .btn-margin-top {
    margin-top: 2%;
  }
}

@media only screen and (min-width: 900px) and (max-width: 1000px) {
  .btn-margin-top {
    margin-top: 2%;
  }
}
