.formfield {
  border-bottom: 1px solid gray;
  padding: 0px;
  height: 38px;
}
.ant-checkbox-inner,
.ant-checkbox-input {
  height: 1.5rem !important;
  width: 1.5rem !important;
}
.formfield1 {
  border-bottom: 1px solid gray;
  padding: 0px;
  height: 38px;
}
// Responsiveness

.main_card {
  position: relative;
}
.detail_list_optional {
  position: absolute;
  top: 0;
  left: 10;
  z-index: 1;
}

@media screen and (min-width: 1200px) and (max-width: 1600px) {
  .cr,
  .dr {
    margin-left: 5.5rem !important;
  }
}

@media screen and (min-width: 992px) and (max-width: 1200px) {
  .against,
  .balance,
  .remarks {
    margin-top: 2.5% !important;
  }
  .credit {
    margin-top: -1.8rem !important;
  }
  .dr,
  .cr {
    margin-left: 6.5rem !important;
  }
  .btns {
    margin-top: 1.5rem !important;
  }
}

@media screen and (min-width: 768px) and (max-width: 992px) {
  .against,
  .balance,
  .remarks {
    margin-top: 2.5% !important;
  }
  .credit {
    margin-top: -1.8rem !important;
  }
  .btns {
    margin-top: 1.5rem !important;
  }
}

@media screen and (min-width: 576px) and (max-width: 768px) {
  .balance,
  .date,
  .against,
  .voucher,
  .remarks {
    margin-top: 1rem !important;
  }
  .credit {
    margin-top: -12% !important;
    margin-bottom: 0.5rem !important;
  }
  .btns {
    margin-top: 1.5rem !important;
  }
  .type {
    margin-bottom: 12% !important;
  }
  .add {
    margin-left: 13rem;
  }
}

@media screen and (min-width: 481px) and (max-width: 575px) {
  .balance {
    margin-top: 1rem !important;
  }
  .formfield {
    height: 70px;
  }
  .add {
    margin-top: 1rem;
    margin-left: 4rem;
  }
  .voucherDate {
    margin-top: -1.5rem !important;
  }
  .voucherNo {
    margin-top: 0.5rem;
  }
  .btns {
    margin-top: 1.5rem !important;
    margin-left: -1rem !important;
  }
  .icon {
    margin-left: -1%;
  }
  .credit {
    margin-top: 2px !important;
    height: 90px !important;
  }
  .add {
    margin-left: 5.5rem !important;
  }
}
